<main>
  <p>Shipping</p>
  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Your Cart</span>
      </h4>
      <ul class="list-group mb-3" *ngFor="let shipping of shippingCosts | async">
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <h6 class="my-0">{{ shipping.type }}</h6>
          <span class="text-muted">{{ shipping.price }}</span>
        </li>
      </ul>
    </div>
  </div>
</main>